.header-container {
  color: white;
  background-color: black;
  min-height: 92px;
  height: 10vh;
  h6 {
    color: white;
  }
}

.button-background {
  background-color: black;
}

.center-text {
  align-items: center;
}

.space-between-buttons {
  margin-right: 5px;
  margin-left: 5px;
}

.navbar-styling {
  overflow: hidden;
}

.nav {
  justify-content: center;
}

.nav-link {
  color: white;
}