.header-font {
  font-size: 4.5rem;
  font-weight: 300;
  color: white;
}

.text-alignment {
  text-align: center;
}

.title-styling {
  background-color: black;
}

.title-text-styling {
  color: white;
}