.about-me-container {
  .card-title-styling {
    background-color: lightsteelblue;
  }

  .container {
    padding-top: 10%;
  }

  .card-body-styling {
    background-color: black;

    .card-body-text {
      color: white;
    }
  }
}